.header  {
    margin-bottom: 12px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #F1F1F1;
    box-shadow: 0 2px 4px 0 rgba(123,120,120,0.5);
}

#test {
	background-color: #EFEFEF;
	margin-top: -8px;
}

.chart .legend {
  fill: black;
  font: 14px sans-serif;
  text-anchor: start;
  font-size: 12px;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.chart .label {
  fill: black;
  font: 14px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: brown;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.banner-display{
    text-align:center;
    font-size: 26px;
    color: #4A4A4A; 
}
.border_right{
    border-right: 2px solid grey;
}

.heading-box {
    padding: 20px;
    /*border: 1px solid #F1F1F1;*/
    /*background-color: green;*/
    /*box-shadow: 5px 5px 5px #F1F1F1;*/
    font-size: 18px;
    color:#FCFCFC;
    padding-left: 10px;
}
.panel-default {
	box-shadow: 0 2px 4px 0 rgba(123,120,120,0.5);
}

#color_test {
	background-color: #4F4F85 !important;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
  height: 40px;
  padding: 5px;
  padding-left: 20px;
}

.dropdown_style {
  width: 231.78px;
  height: 30px;
  font-size: 18px;
  color: #212121;
  border-radius: 3px;
  padding-top: 7px;
  margin-left: 8px;
}